<div class="content">
  <div class="form">
    <h1>My todo application</h1>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Tittle</label>
      <input [(ngModel)]="todo.tittle" name="tittle" type="email" class="form-control" id="exampleFormControlInput1"
        placeholder="Learn Node.js">
    </div>
    <div class="mb-3">
      <label for="formControlTextarea" class="form-label">Description</label>
      <textarea [(ngModel)]="todo.description" name="description" class="form-control" id="formControlTextarea"
        rows="3"></textarea>
    </div>
    <button (click)="create()" type="button" class="btn btn-primary">Create</button>
  </div>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tittle</th>
        <th scope="col">Description</th>
        <th scope="col">Created At</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of list">
        <th scope="row">{{ todo.id }}</th>
        <td>{{ todo.tittle }}</td>
        <td>{{ todo.description }}</td>
        <td>{{ todo.createdAt }}</td>
        <td class="actions">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
</div>