.content {
  width: 60%;
  margin: auto;
  margin-top: 1rem;
}


h1 {
  text-align: center;
}

#formControlTextarea {
  max-height: 5rem;
}

.btn {
  width: 100%;
}

.table {
  margin-top: 1.5rem;
}

.actions {
  padding: 0;
  width: 5px;
  text-align: center;
}
